# Spark Assignment

## Bhavana Balakrishna Rao
### 1008221023

In [3]:
!pip install pyspark
!pip install awscli ipython # Optional

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 51.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=c274df8f2edf8abeda2a7213731ae8934de6f8696aa534f7d8d674d21f47db5f
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1
Collecting awscli
  Downloading awscli-1.22.95-py3-none-any.whl (3.8 MB)
     |████████████████████████████████| 3.8 MB 9.1 MB/s
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (5.5.0)
Collecting colorama<0.4.4,>=0.2.5
  Downloading colorama-0.4.3-py2.py3-none-any.whl (15 kB)
Collecting s3transfer<0.6.0,>=0.5.0
  Downloading s3transfer-0.5.2-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 9.2 MB/s
Requirement already satisfied: PyYAML<5.5,>=3.10 in /usr/local/lib/python3.7/dist-packages (from awscli) (3.13)
Collecting docutils<0.16,>=0.10
  Downloading docutils-0.15.2-py3-none-any.whl (547 kB)
     |████████████████████████████████| 547 kB 67.7 MB/s
Collecting botocore==1.24.40
  Downloading botocore-1.24.40-py3-none-any.whl (8.7 MB)
     |████████████████████████████████| 8.7 MB 44.2 MB/s
Collecting rsa<4.8,>=3.1.2
  Downloading rsa-4.7.2-py3-none-any.whl (34 kB)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore==1.24.40->awscli) (2.8.2)
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.0-py3-none-any.whl (23 kB)
Collecting urllib3<1.27,>=1.25.4
  Downloading urllib3-1.26.9-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 57.2 MB/s
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore==1.24.40->awscli) (1.15.0)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from rsa<4.8,>=3.1.2->awscli) (0.4.8)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython) (5.1.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython) (2.6.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython) (57.4.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython) (0.8.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython) (1.0.18)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython) (0.7.0)
Installing collected packages: urllib3, jmespath, botocore, s3transfer, rsa, docutils, colorama, awscli
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
  Attempting uninstall: rsa
    Found existing installation: rsa 4.8
    Uninstalling rsa-4.8:
      Successfully uninstalled rsa-4.8
  Attempting uninstall: docutils
    Found existing installation: docutils 0.17.1
    Uninstalling docutils-0.17.1:
      Successfully uninstalled docutils-0.17.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.9 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed awscli-1.22.95 botocore-1.24.40 colorama-0.4.3 docutils-0.15.2 jmespath-1.0.0 rsa-4.7.2 s3transfer-0.5.2 urllib3-1.26.9

In [4]:
from pyspark.sql import Row
from pyspark.sql import SparkSession

import nltk
import nltk.corpus

import collections
import itertools
import os
import string

In [5]:
spark = SparkSession \
    .builder \
    .appName("PySpark demo") \
    .getOrCreate()

Upload dataset_en_train.csv and dataset_en_test.csv.

In [6]:
df = spark.read.json('./dataset*.json')

In [5]:
df.show()

+--------+-------------------+------------------+--------------------+----------+--------------------+-------------------+-----+
|language|   product_category|        product_id|         review_body| review_id|        review_title|        reviewer_id|stars|
+--------+-------------------+------------------+--------------------+----------+--------------------+-------------------+-----+
|      en|          furniture|product_en_0740675|Arrived broken. M...|en_0964290|I'll spend twice ...|reviewer_en_0342986|    1|
|      en|   home_improvement|product_en_0440378|the cabinet dot w...|en_0690095|        Not use able|reviewer_en_0133349|    1|
|      en|               home|product_en_0399702|I received my fir...|en_0311558|The product is junk.|reviewer_en_0152034|    1|
|      en|           wireless|product_en_0444063|This product is a...|en_0044972|Fucking waste of ...|reviewer_en_0656967|    1|
|      en|                 pc|product_en_0139353|went through 3 in...|en_0784379|              bubble|reviewer_en_0757638|    1|
|      en|industrial_supplies|product_en_0705898|Poor quality. The...|en_0420650|Poor quality. The...|reviewer_en_0155342|    1|
|      en|               home|product_en_0041998|Ordered 2 they sh...|en_0206383|     Not reliable ☹️|reviewer_en_0005698|    1|
|      en|            kitchen|product_en_0523280|Followed directio...|en_0638563|      Waste of money|reviewer_en_0363065|    1|
|      en|            apparel|product_en_0737171|There is a terrib...|en_0331944|Picture Doesn’t R...|reviewer_en_0434580|    1|
|      en|         automotive|product_en_0912236|Unless you have t...|en_0220290| Collapses on itself|reviewer_en_0514794|    1|
|      en|            apparel|product_en_0724267|I am disappointed...|en_0210507|  Not what I ordered|reviewer_en_0031791|    1|
|      en|             camera|product_en_0574186|It doesn’t work a...|en_0143009|               Cheap|reviewer_en_0626468|    1|
|      en|           wireless|product_en_0729559|was not pleased a...|en_0016212|I would not recom...|reviewer_en_0403830|    1|
|      en|    lawn_and_garden|product_en_0610204|Followed instruct...|en_0112269|            One Star|reviewer_en_0050452|    1|
|      en|           wireless|product_en_0522866|Absolutely horrib...|en_0537874|   Smudgy, horrible!|reviewer_en_0737063|    1|
|      en|           wireless|product_en_0628414|Does not play wit...|en_0056997|Does not play wit...|reviewer_en_0037773|    1|
|      en|             camera|product_en_0250211|Doesn’t work and ...|en_0619473|         Ineffective|reviewer_en_0056679|    1|
|      en|              watch|product_en_0566399|Beautiful way. Do...|en_0533035|Beautiful way. Do...|reviewer_en_0488191|    1|
|      en|               home|product_en_0304984|Stems were broken...|en_0832890|   stems were broken|reviewer_en_0667005|    1|
|      en|            apparel|product_en_0387159|Buy one size smal...|en_0550306|       Way too large|reviewer_en_0627216|    1|
+--------+-------------------+------------------+--------------------+----------+--------------------+-------------------+-----+
only showing top 20 rows

In [ ]:
df.count()

66258

In [25]:
from pyspark.sql.functions import col, countDistinct

#df.agg(*(countDistinct(col(c)).alias(c) for c in df.columns))
df.select(countDistinct("review_id")).show()

+-------------------------+
|count(DISTINCT review_id)|
+-------------------------+
|                   179625|
+-------------------------+

Size of the dataframe - (66,258, 8)

In [ ]:
"""rdd = spark.read.json('./dataset_en_train.json').rdd
rdd.flatMap(lambda x: x.review_body.lower().split() + \
        x.review_title.lower().split()) \
   .groupBy(lambda x: x) \
   .map(lambda x: (x[0], len(x[1]))) \
   .sortBy(lambda x: x[1], ascending=False) \
   .take(100)"""

"rdd = spark.read.json('./dataset_en_train.json').rdd\nrdd.flatMap(lambda x: x.review_body.lower().split() +         x.review_title.lower().split())    .groupBy(lambda x: x)    .map(lambda x: (x[0], len(x[1])))    .sortBy(lambda x: x[1], ascending=False)    .take(100)"

In [7]:
def ngram(l, n):
  nltk.download('stopwords', download_dir='/tmp/nltk')
  nltk.data.path.append('/tmp/nltk')
  translation_table = str.maketrans('', '', string.punctuation)
  stopwords = nltk.corpus.stopwords.words('english')
  words = [w.translate(translation_table).lower() for w in l.split() if w.translate(translation_table).lower() not in stopwords]
  d = collections.deque(maxlen=n)
  d.extend(words[:n])
  words = words[n:]
  for window, word in zip(itertools.cycle((d,)), words):
    yield(' '.join(window))
    d.append(word)

In [8]:
def split_grams(n):
  def f(x):
    return [Row(n=n, id=x.review_id, stars=x.stars, tokens=ng) for ng in list(ngram(x.review_title, n))] + \
           [Row(n=n, id=x.review_id, stars=x.stars, tokens=ng) for ng in list(ngram(x.review_body, n))]
  return f

In [9]:
#grams = df.rdd.flatMap(lambda x: split_grams(1)(x) + split_grams(2)(x) + split_grams(3)(x))
#grams.toDF().registerTempTable("tokens")

# using 1-, 2- and 3-word sequences
grams = df.rdd.flatMap(lambda x: split_grams(1)(x) + split_grams(2)(x) + split_grams(3)(x))
grams.toDF().registerTempTable("table")

/usr/local/lib/python3.7/dist-packages/pyspark/sql/dataframe.py:140: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  FutureWarning

In [47]:
spark.sql(""" 
SELECT *
FROM tokens
WHERE n=2
""").show(truncate=False)

+---+----------+-----+-------------------+
|n  |id        |stars|tokens             |
+---+----------+-----+-------------------+
|2  |en_0964290|1    |ill spend          |
|2  |en_0964290|1    |spend twice        |
|2  |en_0964290|1    |twice amount       |
|2  |en_0964290|1    |amount time        |
|2  |en_0964290|1    |time boxing        |
|2  |en_0964290|1    |boxing whole       |
|2  |en_0964290|1    |whole useless      |
|2  |en_0964290|1    |useless thing      |
|2  |en_0964290|1    |thing send         |
|2  |en_0964290|1    |send back          |
|2  |en_0964290|1    |back 1star         |
|2  |en_0964290|1    |1star review       |
|2  |en_0964290|1    |arrived broken     |
|2  |en_0964290|1    |broken manufacturer|
|2  |en_0964290|1    |manufacturer defect|
|2  |en_0964290|1    |defect two         |
|2  |en_0964290|1    |two legs           |
|2  |en_0964290|1    |legs base          |
|2  |en_0964290|1    |base completely    |
|2  |en_0964290|1    |completely formed  |
+---+----------+-----+-------------------+
only showing top 20 rows

### TF-IDF for negative reviews

In [48]:
# for n=1
spark.sql(""" 
WITH t1 as (
  SELECT id, 
    CASE WHEN stars = 1 OR stars = 2 THEN "negative" ELSE "positive" END AS sentiment,
    tokens
  FROM table
  WHERE n=1 AND (stars = 1 OR stars = 2)
),
t2 as (
  SELECT
    id, sentiment, tokens,
    COUNT(tokens) OVER (PARTITION BY id, tokens) as token_freq,
    COUNT(*) OVER (PARTITION BY id) as total_tokens_in_doc
  FROM t1
),
t3 as (
  SELECT id, tokens, token_freq, total_tokens_in_doc,
	CAST(token_freq AS DECIMAL) / CAST(total_tokens_in_doc AS DECIMAL) as tf
	FROM t2
),
t4 AS(
	SELECT DISTINCT tokens, COUNT(DISTINCT id) AS docs_with_token -- no. of documents with the given keyword (denominator in idf)
	FROM t3
	GROUP BY tokens
),
t5 as (
  SELECT t3.*, LOG((SELECT COUNT(DISTINCT id) FROM t3)/ t4.docs_with_token) AS idf
	FROM t3
	LEFT JOIN t4
	ON t3.tokens = t4.tokens
)
SELECT *, tf*idf AS tf_idf
FROM t5
GROUP BY tokens, id, token_freq, total_tokens_in_doc, tf, idf
ORDER BY tf_idf DESC
""").show(truncate=False)

+----------+---------------+----------+-------------------+-------------+------------------+------------------+
|id        |tokens         |token_freq|total_tokens_in_doc|tf           |idf               |tf_idf            |
+----------+---------------+----------+-------------------+-------------+------------------+------------------+
|en_0560040|junkdoesn’t    |1         |1                  |1.00000000000|11.313742551100862|11.313742551100862|
|en_0034742|expectedbut    |1         |1                  |1.00000000000|11.313742551100862|11.313742551100862|
|en_0716472|junkwaste      |1         |1                  |1.00000000000|11.313742551100862|11.313742551100862|
|en_0997052|spears         |1         |1                  |1.00000000000|11.313742551100862|11.313742551100862|
|en_0072464|antidepressants|1         |1                  |1.00000000000|11.313742551100862|11.313742551100862|
|en_0249014|cheapbreaks    |1         |1                  |1.00000000000|11.313742551100862|11.313742551100862|
|en_0697509|sai            |1         |1                  |1.00000000000|11.313742551100862|11.313742551100862|
|en_0742111|breakrip       |1         |1                  |1.00000000000|11.313742551100862|11.313742551100862|
|en_0046893|hasalot        |1         |1                  |1.00000000000|11.313742551100862|11.313742551100862|
|en_0610011|expectedtoo    |1         |1                  |1.00000000000|10.620595370540917|10.620595370540917|
|en_0542321|orthodontic    |2         |2                  |1.00000000000|10.620595370540917|10.620595370540917|
|en_0817437|faintly        |1         |1                  |1.00000000000|10.620595370540917|10.620595370540917|
|en_0009792|reaper         |2         |2                  |1.00000000000|10.620595370540917|10.620595370540917|
|en_0808728|shihpoo        |1         |1                  |1.00000000000|10.620595370540917|10.620595370540917|
|en_0059163|petty          |1         |1                  |1.00000000000|10.215130262432753|10.215130262432753|
|en_0187534|hokey          |1         |1                  |1.00000000000|10.215130262432753|10.215130262432753|
|en_0761510|suppress       |2         |2                  |1.00000000000|10.215130262432753|10.215130262432753|
|en_0316162|origional      |1         |1                  |1.00000000000|10.215130262432753|10.215130262432753|
|en_0718596|granular       |2         |2                  |1.00000000000|9.927448189980971 |9.927448189980971 |
|en_0460259|dragonfly      |1         |1                  |1.00000000000|9.70430463866676  |9.70430463866676  |
+----------+---------------+----------+-------------------+-------------+------------------+------------------+
only showing top 20 rows

In [49]:
# for n=2
spark.sql(""" 
WITH t1 as (
  SELECT id, 
    CASE WHEN stars = 1 OR stars = 2 THEN "negative" ELSE "positive" END AS sentiment,
    tokens
  FROM table
  WHERE n=2 AND (stars = 1 OR stars = 2)
),
t2 as (
  SELECT
    id, sentiment, tokens,
    COUNT(tokens) OVER (PARTITION BY id, tokens) as token_freq,
    COUNT(*) OVER (PARTITION BY id) as total_tokens_in_doc
  FROM t1
),
t3 as (
  SELECT id, tokens, token_freq, total_tokens_in_doc,
	CAST(token_freq AS DECIMAL) / CAST(total_tokens_in_doc AS DECIMAL) as tf
	FROM t2
),
t4 AS(
	SELECT DISTINCT tokens, COUNT(DISTINCT id) AS docs_with_token -- no. of documents with the given keyword (denominator in idf)
	FROM t3
	GROUP BY tokens
),
t5 as (
  SELECT t3.*, LOG((SELECT COUNT(DISTINCT id) FROM t3)/ t4.docs_with_token) AS idf
	FROM t3
	LEFT JOIN t4
	ON t3.tokens = t4.tokens
)
SELECT *, tf*idf AS tf_idf
FROM t5
GROUP BY tokens, id, token_freq, total_tokens_in_doc, tf, idf
ORDER BY tf_idf DESC
""").show(truncate=False)

+----------+---------------------------+----------+-------------------+-------------+------------------+------------------+
|id        |tokens                     |token_freq|total_tokens_in_doc|tf           |idf               |tf_idf            |
+----------+---------------------------+----------+-------------------+-------------+------------------+------------------+
|en_0283526|arrived dusty              |1         |1                  |1.00000000000|11.295900655914194|11.295900655914194|
|en_0689412|billed never               |1         |1                  |1.00000000000|11.295900655914194|11.295900655914194|
|en_0907324|application start          |1         |1                  |1.00000000000|11.295900655914194|11.295900655914194|
|en_0806063|advertised nit             |1         |1                  |1.00000000000|11.295900655914194|11.295900655914194|
|en_0779167|0 stari                    |1         |1                  |1.00000000000|11.295900655914194|11.295900655914194|
|en_0902170|advertiseddefinitely wooded|1         |1                  |1.00000000000|11.295900655914194|11.295900655914194|
|en_0787265|12 ladybugs                |1         |1                  |1.00000000000|11.295900655914194|11.295900655914194|
|en_0238288|awkward fitting            |1         |1                  |1.00000000000|11.295900655914194|11.295900655914194|
|en_0678894|2 dry                      |1         |1                  |1.00000000000|11.295900655914194|11.295900655914194|
|en_0952887|babydoll hair              |1         |1                  |1.00000000000|11.295900655914194|11.295900655914194|
|en_0757355|absolutely clean           |1         |1                  |1.00000000000|11.295900655914194|11.295900655914194|
|en_0503253|backlit never              |1         |1                  |1.00000000000|11.295900655914194|11.295900655914194|
|en_0510877|abuse light                |1         |1                  |1.00000000000|11.295900655914194|11.295900655914194|
|en_0204479|bags tear                  |1         |1                  |1.00000000000|11.295900655914194|11.295900655914194|
|en_0176162|applied twice              |1         |1                  |1.00000000000|11.295900655914194|11.295900655914194|
|en_0265457|balloons small             |1         |1                  |1.00000000000|11.295900655914194|11.295900655914194|
|en_0825890|absolutely stainless       |1         |1                  |1.00000000000|11.295900655914194|11.295900655914194|
|en_0136286|barcode box                |1         |1                  |1.00000000000|11.295900655914194|11.295900655914194|
|en_0776368|big show                   |1         |1                  |1.00000000000|11.295900655914194|11.295900655914194|
|en_0535627|barely bass                |1         |1                  |1.00000000000|11.295900655914194|11.295900655914194|
+----------+---------------------------+----------+-------------------+-------------+------------------+------------------+
only showing top 20 rows

In [10]:
# for n=3
spark.sql(""" 
WITH t1 as (
  SELECT id, 
    CASE WHEN stars = 1 OR stars = 2 THEN "negative" ELSE "positive" END AS sentiment,
    tokens
  FROM table
  WHERE n=3 AND (stars = 1 OR stars = 2)
),
t2 as (
  SELECT
    id, sentiment, tokens,
    COUNT(tokens) OVER (PARTITION BY id, tokens) as token_freq,
    COUNT(*) OVER (PARTITION BY id) as total_tokens_in_doc
  FROM t1
),
t3 as (
  SELECT id, tokens, token_freq, total_tokens_in_doc,
	CAST(token_freq AS DECIMAL) / CAST(total_tokens_in_doc AS DECIMAL) as tf
	FROM t2
),
t4 AS(
	SELECT DISTINCT tokens, COUNT(DISTINCT id) AS docs_with_token -- no. of documents with the given keyword (denominator in idf)
	FROM t3
	GROUP BY tokens
),
t5 as (
  SELECT t3.*, LOG((SELECT COUNT(DISTINCT id) FROM t3)/ t4.docs_with_token) AS idf
	FROM t3
	LEFT JOIN t4
	ON t3.tokens = t4.tokens
)
SELECT *, tf*idf AS tf_idf
FROM t5
GROUP BY tokens, id, token_freq, total_tokens_in_doc, tf, idf
ORDER BY tf_idf DESC
""").show(truncate=False)

+----------+--------------------+----------+-------------------+-------------+------------------+------------------+
|id        |tokens              |token_freq|total_tokens_in_doc|tf           |idf               |tf_idf            |
+----------+--------------------+----------+-------------------+-------------+------------------+------------------+
|en_0786258|1200 lm like        |1         |1                  |1.00000000000|11.252261753742095|11.252261753742095|
|en_0727514|6 days get          |1         |1                  |1.00000000000|11.252261753742095|11.252261753742095|
|en_0155072|2 years starting    |1         |1                  |1.00000000000|11.252261753742095|11.252261753742095|
|en_0481820|6 cans description  |1         |1                  |1.00000000000|11.252261753742095|11.252261753742095|
|en_0967461|1 3 gave            |1         |1                  |1.00000000000|11.252261753742095|11.252261753742095|
|en_0693305|3 month already     |1         |1                  |1.00000000000|11.252261753742095|11.252261753742095|
|en_0579305|1 got two           |1         |1                  |1.00000000000|11.252261753742095|11.252261753742095|
|en_0334354|3 pieces one        |1         |1                  |1.00000000000|11.252261753742095|11.252261753742095|
|en_0442384|100 rayon thin      |1         |1                  |1.00000000000|11.252261753742095|11.252261753742095|
|en_0298264|3 weeks yet         |1         |1                  |1.00000000000|11.252261753742095|11.252261753742095|
|en_0087006|2 jars came         |1         |1                  |1.00000000000|11.252261753742095|11.252261753742095|
|en_0002019|3 worked 1          |1         |1                  |1.00000000000|11.252261753742095|11.252261753742095|
|en_0908374|2 one little        |1         |1                  |1.00000000000|11.252261753742095|11.252261753742095|
|en_0400350|3040 cracked crushed|1         |1                  |1.00000000000|11.252261753742095|11.252261753742095|
|en_0256238|6 12 lights         |1         |1                  |1.00000000000|11.252261753742095|11.252261753742095|
|en_0513631|4 failed 2          |1         |1                  |1.00000000000|11.252261753742095|11.252261753742095|
|en_0761924|10 days deliver     |1         |1                  |1.00000000000|11.252261753742095|11.252261753742095|
|en_0272992|500 lb capacity     |1         |1                  |1.00000000000|11.252261753742095|11.252261753742095|
|en_0332914|2 months strap      |1         |1                  |1.00000000000|11.252261753742095|11.252261753742095|
|en_0346246|5’ 9” shorter       |1         |1                  |1.00000000000|11.252261753742095|11.252261753742095|
+----------+--------------------+----------+-------------------+-------------+------------------+------------------+
only showing top 20 rows

## Discussion of Results

The TF-IDF for 1-, 2-, 3- n-grams were calculated. Each review is considered as a document and each n-gram is considered as a term. The results above shows the different n-grams that best represent negative reviews. Some of these phrases include 'arrived dusty', 'failed', '3 weeks yet'.

The top 10% from the above results can be chosen as blacklisted keywords to identify negative reviews which can ultimately lead to increased customer satisfaction.